<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" >
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Test app</title>
        <link rel="icon" href="{% static "Media/homeImage/favicon/favicon.ico" %}" type="image/gif" sizes="16x16">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body class="app header-fixed">
        <div id="react"></div><script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{% static "js/react/runtime-output.js.gz" %}"></script>
        <script type="text/javascript" src="{% static "js/react/vendor-output.js.gz" %}"></script>
        <script type="text/javascript" src="{% static "js/react/home-output.js.gz" %}"></script>

    </body>

</html>